<header>
<table><tr><td>

<%= image_tag("images/logo.png", :alt => "Sample App", :class => "round") %>

</td><td>
<td>

<ul class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>


</ul>
</td></tr></table>

</header>